<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <title>Account Details</title>
</head>
<body>
<div layout:fragment="content">
    <a th:href="@{'/users'}" th:type="button" class="btn btn-outline-dark button-back"> <<< Home</a>
    <br>
    <br>
    <h4 class="caption" style="color:pink"> ACCOUNT DETAILS </h4>
    <br>
    <div class="card">
        <div class="card-header">
            <h3 class="h3-type">Account:</h3>
            <h5 th:text="${account.name}" class="h5-value"></h5>
            <br>
            <h3 class="h3-type">Created:</h3>
            <h5 th:text="${account.accCreated}" class="h5-value"></h5>
            <br>
            <h3 class="h3-type">Balance USD:</h3>
            <h5 th:text="${account.balance}" class="h5-value"></h5>
        </div>
        <div class="card-body">
            <h3 class="h3-type">Transactions:</h3>
            <div class="row">
                <table class="table table-sm table-hover">
                    <thead class="table-head">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Sum
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            More info
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transaction : ${account.transactions}">
                        <td th:text="${transaction.id}"></td>
                        <td th:text="${transaction.sum}"></td>
                        <td th:text="${transaction.type}"></td>
                        <td>
                            <a th:href="@{'/transactions/' + ${transaction.id} }" th:type="button" class="btn btn-dark">Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>