<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <title>Error 404</title>
</head>
<body>

<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h4>Entity not found</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <tr>
                    <td>
                        The ID you entered is no longer valid. Check your data and try again!
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>