<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <title>Successful</title>
</head>
<body>

<div layout:fragment="content">
    <a th:href="@{'/users'}" th:type="button" class="btn btn-outline-dark button-back"> <<< Back</a>
    <br>
    <br>
    <h4 class="caption" style="color:pink"> Successful </h4>
    <br>
</div>

</body>
</html>